/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center; /* Alinea el texto al centro */
}

label, input {
    display: block;
    margin: 0 auto; /* Centra los elementos */
    text-align: center; /* Centra el texto dentro del input */
    margin-bottom: 10px;
}

input[type="range"] {
    width: 100%;
}

output {
    font-weight: bold;
    color: #333;
    display: inline-block;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

#results {
    margin-top: 20px;
}

/*Titulo bonito*/
#CG-container {
    float: left;
    margin-right: 20px;
}

#CG {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 135px; /* Agregamos margen a la derecha */
}

#CG:hover {
    background-color: #ccc;
}

